main {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--color-pricipal);
}

.container {
  background-color: hsl(0deg, 0%, 100%);
  width: 28.75rem;
  padding: 2.5rem 3.75rem;
  border-radius: 1rem;
  display: block;
}

.flex {
  display: flex;
  justify-content: space-between;
}

.btnfooter {
  background-color: var(--color-pricipal);
  display: flex;
  border-radius: 0.4rem;
  button {
    background-color: var(--color-pricipal);
    border-radius: 0.4rem;
    border: none;
    color: hsl(0deg, 0%, 94%);
    cursor: pointer;
  }
}
