/* You can add global styles to this file, and also import other style files */
:root {
  // BIEN
  --color-pricipal: rgb(180, 104, 172);
}

html,
body {
  margin: 0 auto;
  width: 100%;
  height: 100%;
  font-family: "Times New Roman", Times, serif;
}

h3 {
  color: var(--color-pricipal);
  display: block;
  font-size: 1.5em;
  font-weight: bold;
  margin-block-start: 0.83em;
  margin-block-end: 0.83em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}

p {
  font-weight: bold;
  text-align: right;
  background-color: colorprin;
  color: var(--color-pricipal);
}

a {
  padding-right: 10px;
  color: var(--color-pricipal);
}
